
.container{
    min-height: 90vh;
}
.gridContainer{
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;

}
.loadingClass{
    width: 376px;
}
@media (width<400px) {
    .loadingClass{
        width: 300px;
    }
}