.actionBtn {
    background-color: #FF7F00;
    border: none;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.5em 1.25em;
    color: white;
    border-radius: 0.15em;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
    display: block;
  }
  
  .actionBtn:hover {
    background-color: #ff6600;
  }
  
  .actionBtn:focus {
    outline: 0.05em dashed #ff6600; 
    outline-offset: 0.05em;
  }
  
  .actionBtn::after {
    content: '';
    display: block;
    width: 1.2em;
    height: 1.2em;
    position: absolute;
    left: calc(50% - 0.75em);
    top: calc(50% - 0.75em);
    border: 0.15em solid transparent;
    border-right-color: white;
    border-radius: 50%;
    animation: button-anim 0.7s linear infinite;
    opacity: 0;
  }
  
  @keyframes button-anim {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .actionBtn.loading {
    color: transparent;
  }
  
  .actionBtn.loading::after {
    opacity: 1;
  }