.container{
    background-color: var(--secondary-bg-color);
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inputbox{  
    background-color: var(--secondary-bg-color);

}