@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=JetBrains+Mono&family=Lato&family=Montserrat&family=Open+Sans:ital,wght@0,300;1,500&family=Poppins&family=Roboto&family=Ubuntu&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.light{
  --primary-bg-color : #DAE0E6;
  ;
  --secondary-bg-color : rgb(255,255,255); 
  --loading-color-primary : rgba(0,0,0,0.2);
  --loading-color-secondary : rgba(0,0,0,0.1);
 
}
.dark{
  --primary-bg-color : #030303;
  --secondary-bg-color : rgb(22, 24, 28);
  --loading-color-primary :  hsl(246, 13%, 38%);
  --loading-color-secondary : hsl(246, 20%, 28%)
}
